* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos para el contenedor del canvas */
#canvasContainer {
  width: 100vw; /* Ancho completo de la ventana */
  height: 100vh; /* Altura completa de la ventana */
  overflow: hidden; /* Oculta el desbordamiento */
  position: relative; /* Posición relativa para alinear el canvas */
}

/* Estilos para el canvas */
#canvas {
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Altura completa del contenedor */
  display: block; /* Asegura que el canvas ocupe todo el espacio disponible */
}